body {
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btncolorinfo {
    background-image: linear-gradient(to right, #FF1818 0%, #FF4848 51%, #FF1818 100%)
}

.btncolorinfo {
    color: white;
    border-radius: 10px;
}


.textocolorinfo {
    color: #FF1818;
}

.bordercolorinfo {
    border-color: #FF1818;
    color: #FF1818;
}

.bgcolor {
    background-image: linear-gradient(to right, #FF1818 0%, #FF4848 51%, #FF1818 100%)
}
